acme==0.29.1
alabaster==0.7.11
appdirs==1.4.3
asn1crypto==0.24.0
attrs==18.2.0
Babel==2.6.0
Beaker==1.10.0
CacheControl==0.12.5
cairocffi==0.9.0
CairoSVG==2.2.1
cffi==1.11.5
chardet==3.0.4
colorama==0.4.1
ConfigArgParse==0.13.0
configobj==5.0.6
cryptography==2.4.2
cssselect2==0.2.1
defusedxml==0.5.0
distlib==0.2.8
distro==1.3.0
docopt==0.6.2
docutils==0.14
evdev==1.1.2
future==0.17.1
html5lib==1.0.1
httplib2==0.12.0
idna==2.8
imagesize==1.1.0
isort==4.3.4
Jinja2==2.10
josepy==1.1.0
keyutils==0.5
lazy-object-proxy==1.3.1
lockfile==0.12.2
louis==3.8.0
lxml==4.2.5
Mako==1.0.7
MarkupSafe==1.1.0
mccabe==0.6.1
meson==0.49.0
mock==2.0.0
msgpack==0.5.6
namcap==3.2.7
nose==1.3.7
npyscreen==4.10.5
numpy==1.15.4
olefile==0.46
openshot-qt==2.4.3
packaging==18.0
pacman-mirrors==4.14.0
parsedatetime==2.4
pbr==5.1.1
pep517==0.5.0
Pillow==5.3.0
ply==3.11
polib==1.1.0
progress==1.4
pulsemixer==1.4.0
pyalpm==0.8
pycairo==1.18.0
pycparser==2.19
pycryptodomex==3.6.6
pycups==1.9.74
pycurl==7.43.0.2
pyelftools==0.25
Pygments==2.3.1
PyGObject==3.30.4
pyinotify==0.9.6
pylint==2.2.2
PyOpenGL==3.1.0
pyOpenSSL==18.0.0
pyparsing==2.3.0
pyPEG2==2.15.2
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyRFC3339==1.1
pysmbc==1.0.15.8
python-dateutil==2.7.5
python-libtorrent==1.1.11
python-poppler-qt5==0.25.1
pytoml==0.1.20
pytz==2018.7
pyxdg==0.26
PyYAML==3.13
pyzmq==17.1.0
reportlab==3.5.12
requests==2.20.1
requests-toolbelt==0.8.0
retrying==1.3.3
Send2Trash==1.5.0
sip==4.19.13
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinx-rtd-theme==0.4.1
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.15
tabulate==0.8.2
team==1.0
tinycss2==0.6.1
udiskie==1.7.5
urllib3==1.24.1
vboxapi==1.0
vimiv==0.9.1
webencodings==0.5.1
Whoosh==2.7.4
wrapt==1.10.11
xcffib==0.6.0
zope.component==4.5
zope.deferredimport==4.3
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==4.2.0
zope.interface==4.6.0
zope.proxy==4.3.1
